:root {
    --primary-color: #250902;
    --secondary-color: #856a5d;
    --accent-color1: #fffbfe;
    --accent-color2: #779fa1;
    --text-dark: #333;
    --text-light: #ebebeb;
    --heading-font: Verdana, Geneva, Tahoma, sans-serif;
    --secondary-font: Arial, Helvetica, sans-serif;
    }

    /* Header */


header {
    display: flex;
}

.header-logo {
    height: 200px;
}

.navigation {
    font-size: 40px;
    border: 2px solid;
    width: 100%;
    align-self: center;
    padding: 3%;
    background-color: var(--primary-color);
    color: var(--accent-color1);
}

.navigation a {
    color: var(--accent-color1);
    padding: 5%;
}

.menu-toggle {
    display: none; /* Default to hidden */
    margin-left: auto; /* Push the button to the far right */
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  

    /* Main Page */

.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid;
    margin: 5px;
    gap: 10px;
}

#countdown {
    grid-column: 1;
    grid-row: span 2;
    border: 2px solid;
    height: 300px;
    margin: 3%;
    background-color: var(--accent-color2);
    text-align: center;
}

#countdown p {
    font-size: 20px;
}

#wedding-date {
    grid-column: 2;
    grid-row: span 2;
    border: 2px solid;
    margin: 3%;
    background-color: var(--accent-color2);
    text-align: center;
}

#missouri-reception {
    grid-column: 3;
    grid-row: 1;
    border: 2px solid;
    margin: 3%;
    background-color: var(--accent-color2);
    text-align: center;
}

#oregon-reception {
    grid-column: 3;
    grid-row: 2;
    border: 2px solid;
    margin: 3%;
    background-color: var(--accent-color2);
    text-align: center;
}

#registery-section {
    align-content: center;
    text-align: center;
}

.registery {
    font-size: xx-large;
    margin: 3%;
    padding: 0;
    text-align: center;
    text-decoration: none; /* Remove the default underline */
    font-weight: bold; /* Make the text bold */
    background-color: var(--accent-color2); /* Add a background color (customize it as needed) */
    padding: 10px 15px; /* Add padding for a button-like appearance */
    border-radius: 5px; /* Round the corners */
    display: inline-block; /* Make it look like a button */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    color: #250902;
    line-height: 1;
    }

    /* Our Story */

    #main-story img {
        width: 50%; /* Scale image to fit container width */
        height: 600px; /* Set a fixed height for all images */
        object-fit: cover; /* Ensures the image fills the box while maintaining proportions */
        border-radius: 5px;
        margin: 4%;
        margin-top: 8%;
        float: left;
    }

    #our-story {
        border: 2px solid;
        padding: 4%;
        margin: 4%;
        font-size: large;
        line-height: 1.5;
    }

    #our-story h1 {
        text-align: center;
        font-size: xx-large;
    }

    /* Our Adventures */

    #adventure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }
    
    #slide {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .slide-image {
        width: 100%; /* Scale image to fit container width */
        height: 600px; /* Set a fixed height for all images */
        object-fit: cover; /* Ensures the image fills the box while maintaining proportions */
        border-radius: 5px;
        grid-column: 1;
        grid-row: span 2;
    }

    .slide-title {
        font-size: 50px;
        text-align: center;
        align-self: end;
    }

    .slide-description {
        padding: 8%;
        line-height: 1.8;
        font-size: 17px;
    }
    
    #adventure button {
        padding: 10px;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .button {
        display: flex;
    }
    

    /* Footer */

.footer img {
    width: 50px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.madie-links {
    padding: 3%;
}

.bracken-links {
    padding: 3%;
}

@media (max-width: 1100px) {
    
    /* Heading */

    .navigation {
        display: none; /* Hide navigation links */
        flex-direction: column; /* Stack links in dropdown */
      }
    
      .menu-toggle {
        display: block; /* Show the dropdown button */
      }
    

}

@media (max-width: 600px) {





    /* Our Adventures */

    #slide {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }


    /* Our Story */

    #main-story img {
        float: none;
        width: 100%;
        margin: 0;
    }



    /* Main Page */

    .main-page {
        display: flex;
        flex-direction: column;
        border: 2px solid;
        margin: 5px;
        gap: 10px;
    }

    

}